.header{
    display: flex;
    width: 550px;
    justify-content: center;
    top:0;
    margin: 0 auto;
    background-color: rgb(187, 245, 245);
    
}

.img_wrapper{
    display: flex;
    justify-content: center;
}

.head_img{
    height: 70px;
}

.login_img{
    height: 40px;
}

.main_title{
    padding-left:20px;
    font-family:'Nanum Gothic';
}

.login_img, .bar{
    padding-top: 20px;
    padding-left: 80px;
}

